{% extends "sablona.html" %}

{% block subtitle %}
    <title>Změna hesla</title>
{% endblock %}

{% block main %}
<div class="form-container">
    <h2>Změnit heslo</h2>
    <form method="POST">
        <label for="old_password">Staré heslo:</label>
        <input type="password" id="old_password" name="old_password" required>

        <label for="new_password">Nové heslo:</label>
        <input type="password" id="new_password" name="new_password" required>

        <label for="confirm_new_password">Potvrď nové heslo:</label>
        <input type="password" id="confirm_new_password" name="confirm_new_password" required>

        <input type="submit" value="Změnit heslo">
    </form>
    <a href="{{ url_for('auth.profile') }}"  class="back-button">Zpět na profil</a>
</div>

<style>
    .form-container {
        background-color: #f8f9fa;
        padding: 20px 40px;
        border-radius: 8px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        width: 320px;
        margin: 50px auto;
        text-align: center;
    }
    h2 {
        font-size: 1.8em;
        color: #333;
        margin-bottom: 10px;
    }
    label {
        display: block;
        font-size: 0.9em;
        margin-bottom: 8px;
        color: #555;
        text-align: left;
    }
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
        box-sizing: border-box;
    }
    input[type="submit"] {
        background-color: #6c757d;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s;
    }
    input[type="submit"]:hover {
        background-color: #5a6268;
    }

    .back-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid #6c757d;
    border-radius: 5px;
    color: #6c757d;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #e2e6ea;
    color: #343a40;
}

</style>
{% endblock %}
