{% extends "sablona.html" %}

{% block main %}
<body>
    <h1>Upravit svůj profil</h1>
    {% if current_user.is_authenticated %}
        <p style="font-size: 18px; font-weight: bold;">Username: {{ current_user.username }}</p>

        <form action="{{ url_for('auth.edit_profile') }}" method="POST" enctype="multipart/form-data">

            <div style="margin-bottom: 20px;">
                <label for="nickname" style="font-size: 18px; font-weight: bold;">Přezdívka:</label>
                <input type="text" id="nickname" name="nickname" maxlength="20" 
                       style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 15px;">
            </div>

            <div style="margin-bottom: 20px;">
                <label for="birthdate" style="font-size: 18px; font-weight: bold;">Datum narození:</label>
                <input type="date" id="birthdate" name="birthdate" 
                       style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 15px;">
            </div>

            <div style="margin-bottom: 20px;">
                <label for="favourite_drink" style="font-size: 18px; font-weight: bold;">Oblíbený drink:</label>
                <input type="text" id="favourite_drink" name="favourite_drink" maxlength="20" 
                       style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 15px;">
            </div>

            <div style="margin-bottom: 20px;">
                <label for="bio" style="font-size: 18px; font-weight: bold;">Bio:</label>
                <textarea id="bio" name="bio" maxlength="50" 
                          style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 15px; height: 100px;"></textarea>
            </div>

            <div style="margin-bottom: 20px;">
                <label for="profile_photo" style="font-size: 18px; font-weight: bold;">Profilová fotka:</label>
                <input type="file" id="profile_photo" name="profile_photo" accept="image/*" 
                       style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 15px;">
            </div>

            <div>
                <button type="submit" 
                        style="background-color: #333; color: white; padding: 15px 30px; border: none; border-radius: 5px; cursor: pointer;">
                        Aktualizovat profil
                </button>
            </div>
        </form>
    {% else %}
        <p>Nejste přihlášen.</p>
    {% endif %}
</body>
</html>
{% endblock %}
