{% extends "sablona.html" %}

{% block subtitle %}
    <title>Zapomenuté heslo</title>
{% endblock %}

{% block main %}
<div class="form-container">
    <h2>Obnovit heslo</h2>
    <form method="POST">
        <label for="username">Uživatelské jméno:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>

        <input type="submit" value="Obnovit heslo">
    </form>
    <a href="{{ url_for('auth.login') }}">Zpět na přihlášení</a>
</div>
{% endblock %}
