{% extends "sablona.html" %}

{% block subtitle %}
Pubmeet
{% endblock %}

{% block main %}
<style>
    body {
        position: relative;
        color: #333;
        text-align: center;
        padding: 50px;
    }

    body::before {
        content: "";
        background: url('https://i.pinimg.com/1200x/a3/79/1e/a3791e2342002a8cbcb8a51b4b18610b.jpg');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        z-index: -1;
    }

    h1 {
        font-size: 10em;
        margin-bottom: 25px;
    }

    p {
        font-size: 3em;
    }
</style>

<h1>pubMeet</h1>
<p>Nikdy není pozdě začít chlastat.</p>
{% endblock %}

