{% extends "sablona.html" %}

{% block subtitle %}
{% endblock %}

{% block main %}
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: auto;
        }
        
        .container {
            width: 100%;
            max-width: 90%;
            margin: 0 auto;
            text-align: center;
            position: fixed;
        }
        
        h1 {
            margin-top: -20px; /* Posune nadpis nahoru */
        }
        
        iframe.map-frame {
            width: 90%;              /* Šířka mapy */
            height: 70vh;            /* Výška mapy */
            max-width: 1000px;       /* Maximální šířka */
            border: none;
        }

        @media (max-width: 768px) {
            iframe.map-frame {
                height: 60vh;       /* Nižší výška na menších obrazovkách */
            }
        }

        .pub-list-button {
            display: inline-block;
            background-color: #495057; /* Tmavě šedá */
            color: white;
            padding: 12px 24px;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2em;
            border-radius: 8px;
            transition: background-color 0.3s, transform 0.2s ease-in-out;
        }

        .pub-list-button:hover {
            background-color: #343a40; /* Tmavší šedá při hoveru */
            transform: scale(1.05); /* Trochu zvětší při hoveru */
        }
    </style>

<body>
    <div class="container">
        <h1>Mapa</h1>
        <p><a href="{{ url_for('map.pub_list') }}" class="pub-list-button">Seznam hospod</a></p>
        <p id="current-pub-info">Načítám aktuální hospodu...</p>
        <iframe src="{{ url_for('static', filename='usti_map.html') }}" class="map-frame"></iframe>
    </div>
    <script>
        fetch('/get_current_pub')
        .then(response => response.json())
        .then(data => {
            const pubInfoElement = document.getElementById('current-pub-info');
            pubInfoElement.innerHTML = data.success && data.current_pub 
                ? `Aktuálně navštěvujete: <strong>${data.current_pub}</strong>`  /* Tučný text hospody */
                : "Momentálně nenavštěvujete žádnou hospodu.";
        })
        .catch(() => {
            document.getElementById('current-pub-info').textContent = "Chyba při načítání aktuální hospody.";
        });
    </script>
</body>

{% endblock %}